@media (min-width: 992px) {
  .slider, .slide {
    height: 80vh;
  }
}
.banner__slider {
  margin-bottom: 10px;
  position: relative;
}
.slide {
  position: relative;
}
.slide .slide__img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media (min-width: 992px) {
  .slide .slide__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.slide .slide__img img {
  width: 100%;
  height: auto;
  opacity: 1 !important;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  transition: all 1s ease;
}
.slide .slide__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide .slide__content.slide__content__left {
  left: 15%;
  transform: translate(-15%, -50%);
}
.slide .slide__content.slide__content__right {
  right: 15%;
  left: auto;
  transform: translate(5%, -50%);
}
.slide .slide__content--headings {
  color: #FFF;
}
.slide .slide__content--headings h2 {
  font-size: 4.5rem;
  margin: 10px 0;
}
.slide .slide__content--headings .animated {
  transition: all 0.5s ease;
}
.slide__content {
  position: absolute;
  bottom: 20px;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media only screen and (max-width: 769px) {
  .slide__content {
    width: 90%;
  }
}

.slide__content--headings .title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}
.slide .slide__content--headings .button-custom {
  text-decoration: none;
  color: #333;
  padding: 1.2rem 2.5rem;
  font-size: 1.5rem;
}

.slider [data-animation-in] {
  opacity: 0;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  transition: opacity 0.5s ease 0.3s;
}

.slick-dotted .slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: 25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.simple-dots .slick-dots li {
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button {
  border-radius: 50%;
  background-color: white;
  opacity: 0.25;
  width: 20px;
  height: 20px;
}
.simple-dots .slick-dots li button:hover, .simple-dots .slick-dots li button:focus {
  opacity: 1;
}
.simple-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}

.stick-dots .slick-dots li {
  height: 3px;
  width: 50px;
}
.stick-dots .slick-dots li button {
  position: relative;
  background-color: white;
  opacity: 0.25;
  width: 50px;
  height: 3px;
  padding: 0;
}
.stick-dots .slick-dots li button:hover, .stick-dots .slick-dots li button:focus {
  opacity: 1;
}
.stick-dots .slick-dots li.slick-active button {
  color: white;
  opacity: 0.75;
}
.stick-dots .slick-dots li.slick-active button:hover, .stick-dots .slick-dots li.slick-active button:focus {
  opacity: 1;
}

/* /////////// IMAGE ZOOM /////////// */
@-webkit-keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
@keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.zoomInImage {
  -webkit-animation-name: zoomInImage;
          animation-name: zoomInImage;
}

@-webkit-keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.zoomOutImage {
  -webkit-animation-name: zoomOutImage;
          animation-name: zoomOutImage;
}

.slick-nav {
  --active: #fff;
  --border: rgba(255, 255, 255, .12);
  width: 44px;
  height: 44px;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 44px);
}
.slick-nav.prev-arrow {
  left: 3%;
  transform: scaleX(-1);
  z-index: 999;
}
.slick-nav.next-arrow {
  left: auto;
  right: 3%;
}
.slick-nav i {
  display: block;
  position: absolute;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
}
.slick-nav i:before, .slick-nav i:after {
  content: "";
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--active);
  margin: -1px 0 0 -5px;
  display: block;
  transform-origin: 9px 50%;
}
.slick-nav i:before {
  transform: rotate(-40deg);
}
.slick-nav i:after {
  transform: rotate(40deg);
}
.slick-nav:before, .slick-nav:after {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid var(--border);
}
.slick-nav svg {
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  z-index: 1;
  color: var(--active);
  stroke-width: 2px;
  stroke-dashoffset: 126;
  stroke-dasharray: 126 126 0;
  transform: rotate(0deg);
}
.slick-nav.animate svg {
  -webkit-animation: stroke 1s ease forwards 0.3s;
          animation: stroke 1s ease forwards 0.3s;
}
.slick-nav.animate i {
  -webkit-animation: arrow 1.6s ease forwards;
          animation: arrow 1.6s ease forwards;
}
.slick-nav.animate i:before {
  -webkit-animation: arrowUp 1.6s ease forwards;
          animation: arrowUp 1.6s ease forwards;
}
.slick-nav.animate i:after {
  -webkit-animation: arrowDown 1.6s ease forwards;
          animation: arrowDown 1.6s ease forwards;
}

@-webkit-keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
  }
  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
  }
  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
  }
}

@keyframes stroke {
  52% {
    transform: rotate(-180deg);
    stroke-dashoffset: 0;
  }
  52.1% {
    transform: rotate(-360deg);
    stroke-dashoffset: 0;
  }
  100% {
    transform: rotate(-180deg);
    stroke-dashoffset: 126;
  }
}
@-webkit-keyframes arrow {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  23% {
    transform: translateX(17px);
    opacity: 1;
  }
  24%, 80% {
    transform: translateX(-22px);
    opacity: 0;
  }
  81% {
    opacity: 1;
    transform: translateX(-22px);
  }
}
@keyframes arrow {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  23% {
    transform: translateX(17px);
    opacity: 1;
  }
  24%, 80% {
    transform: translateX(-22px);
    opacity: 0;
  }
  81% {
    opacity: 1;
    transform: translateX(-22px);
  }
}
@-webkit-keyframes arrowUp {
  0%, 100% {
    transform: rotate(-40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@keyframes arrowUp {
  0%, 100% {
    transform: rotate(-40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@-webkit-keyframes arrowDown {
  0%, 100% {
    transform: rotate(40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}
@keyframes arrowDown {
  0%, 100% {
    transform: rotate(40deg) scaleX(1);
  }
  20%, 80% {
    transform: rotate(0deg) scaleX(0.1);
  }
}

.btn--bordered.btn-introduct {
  background: rgba(0, 0, 0, 0.43);
  border: none;
  text-transform: capitalize;
  margin-top: 15px;
}


.btn--bordered.btn-introduct .btn__inner {
  text-align: center;
  letter-spacing: 0px;
  font-weight: 500;
  padding: 0;
  font-size: 17px;
  padding: 10px 35px;
}
/* css menu */
.edgtf-position-right-inner {
  height: 100%;
  display: flex;
  align-items: center;
}

nav.edgtf-main-menu {
  position: relative;
  height: 100%;
  width: auto;
}

.edgtf-menu-area.edgtf-menu-right .edgtf-main-menu {
  width: auto;
}

.edgtf-main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.edgtf-main-menu>ul, .edgtf-main-menu>ul>li>a {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  position: relative;
}

.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}

.edgtf-main-menu>ul>li {
  float: left;
  height: 100%;
  box-sizing: border-box;
}

.edgtf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
}

.edgtf-main-menu>ul>li.edgtf-active-item>a {
  color: #FFF;
}

.edgtf-main-menu ul li a {
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
  color: #fff;
  font-family: "Roboto Condensed",sans-serif;
}

.edgtf-main-menu>ul>li>a>span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-main-menu>ul>li>a>span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.edgtf-main-menu>ul>li>a:after {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 1px;
  height: 26px;
  border-right: 1px solid #e0e4f2;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-blog-slider-holder .edgtf-item-info-section>div:last-child:after, .edgtf-main-menu>ul>li>a:after {
  content: '';
}

.edgtf-main-menu>ul>li.edgtf-active-item>a {
  padding: 0 29px;
  color: #FFF;
  font-size: 16px;
  line-height: 23px;
  font-style: normal;
  box-sizing: border-box;
}

.edgtf-main-menu>ul>li>a {
  Padding: 0 29px;
  color: #FFF;
  font-size: 16px;
  line-height: 23px;
  font-style: normal;
  box-sizing: border-box;
}

.edgtf-main-menu>ul>li.has_sub>a .edgtf-menu-arrow, .edgtf-main-menu>ul>li:last-child>a:after {
  display: none;
}

.edgtf-drop-down .second {
  position: absolute;
  display: block;
  left: 0;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top .15s ease-out;
  -moz-transition: top .15s ease-out;
  transition: top .15s ease-out;
}
.edgtf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.03);
}

.edgtf-main-menu ul li:hover .second {
  height: auto;
  visibility: visible;
  opacity: 1;
  overflow: visible;
}

.edgtf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.43);
  padding: 26px 0;
}

.edgtf-drop-down .narrow .second .inner ul li {
  width: 290px;
}

.edgtf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.edgtf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 7px 30px;
}

.edgtf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 30px 0 0;
  box-sizing: border-box;
  -webkit-transition: padding .35s cubic-bezier(.6,.3,.11,.86);
  -moz-transition: padding .35s cubic-bezier(.6,.3,.11,.86);
  transition: padding .35s cubic-bezier(.6,.3,.11,.86);
}

.edgtf-drop-down .second .inner ul li a .item_outer:before {
  content: '';
  top: calc(50% - 1px);
  left: -20px;
  width: 13px;
  height: 1px;
  background-color: #fff;
  color: inherit;
  line-height: inherit;
  -webkit-transition: left .15s cubic-bezier(0,0,.08,.96) .1s;
  -moz-transition: left .15s cubic-bezier(0,0,.08,.96) .1s;
  transition: left .15s cubic-bezier(0,0,.08,.96) .1s;
}

.edgtf-drop-down .second .inner ul li a .item_outer:before, .edgtf-drop-down .second .inner ul li.sub>a .item_outer:after {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

.edgtf-drop-down .second .inner ul li a:hover .item_outer:before, .edgtf-drop-down .second .inner ul li.current-menu-ancestor>a .item_outer:before, .edgtf-drop-down .second .inner ul li.current-menu-item>a .item_outer:before {
  left: 0;
}
.edgtf-drop-down .second .inner ul li a:hover .item_outer, .edgtf-drop-down .second .inner ul li.current-menu-ancestor>a .item_outer, .edgtf-drop-down .second .inner ul li.current-menu-item>a .item_outer {
  padding: 0 10px 0 20px;
}

.vc_custom_1673165220170 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.vc_row {
  margin-left: -15px;
  margin-right: -15px;
}

.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}

.vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.edgtf-elements-holder {
  width: 100%;
  display: table;
  table-layout: fixed;
  box-sizing: border-box;
}

.edgtf-elements-holder .edgtf-eh-item {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.edgtf-call-to-action-holder.edgtf-simple-layout .edgtf-cta-inner, .edgtf-countdown .countdown-row, .edgtf-dropcaps, .edgtf-elements-holder .edgtf-eh-item.edgtf-horizontal-alignment-center {
  text-align: center;
}

.edgtf-section-title-holder .edgtf-st-title {
  display: block;
  margin: 0;
  padding: 6px 0;
}

.edgtf-section-title-holder .edgtf-st-title-holder h1 {
  font-weight: 400;
}

@media (min-width: 769px) {
    .edgtf-section-title-holder .edgtf-st-title-holder h1 {
      font-size: 50px;
  }
}

.edgtf-section-title-holder .edgtf-st-text {
  display: block;
  margin: 14px 0 7px;
}

h6 {
  font-style: italic;
  font-weight: 300;
  text-transform: none;
}

h6 {
  color: #4c4c4c;
  font-size: 16px;
  letter-spacing: .02em;
  line-height: 1.63em;
}


.vc_custom_1673230930921 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.vc_sep_pos_align_center {
  margin-left: auto;
  margin-right: auto;
}

.vc_sep_width_50 {
  width: 50%;
}

.vc_separator .vc_sep_holder {
  height: 1px;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 10%;
}

.vc_separator.vc_separator_no_text:not(.vc_sep_shadow) .vc_sep_holder_l {
  width: 100%;
}

.vc_separator .vc_sep_holder .vc_sep_line {
  height: 1px;
  border-top: 1px solid #fff;
  display: block;
  position: relative;
  top: 1px;
  width: 100%;
}

.vc_separator.vc_sep_color_black .vc_sep_line {
  border-color: #fff;
}

.vc_separator.vc_separator_no_text:not(.vc_sep_shadow) .vc_sep_holder_r {
  display: none;
}

.vc_row:after, .vc_row:before {
  content: " ";
  display: table;
}

.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner {
  padding-top: 35px;
}

.vc_custom_1673232508727 {
  padding-left: 50px !important;
}

.vc_column-inner::after, .vc_column-inner::before {
  content: " ";
  display: table;
}

.edgtf-link-section-holder {
  margin: 0 -8px;
}

.edgtf-link-section-holder.edgtf-appear-fx .edgtf-link-section-title-holder, .edgtf-link-section-holder.edgtf-appear-fx .edgtf-single-link-title-holder {
  overflow: hidden;
}

.edgtf-link-section-holder .edgtf-link-section-title {
  margin-bottom: 30px;
}

.edgtf-link-section-holder .edgtf-link-section-title-holder h2 {
  font-size: 39px;
  line-height: 1.15em;
  font-weight: 300;
  -webkit-transform: translatex(0px) translatey(0px);
  -ms-transform: translatex(0px) translatey(0px);
  transform: translatex(0px) translatey(0px);
}

.edgtf-link-section-holder.edgtf-appear-fx .edgtf-link-section-title, .edgtf-link-section-holder.edgtf-appear-fx .edgtf-single-link-title {
  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.no-touch .edgtf-link-section-holder.edgtf-appear-fx .edgtf-link-section-title {
  -webkit-transition: -webkit-transform .35s cubic-bezier(.6,.3,.11,.86);
  -moz-transition: -moz-transform .35s cubic-bezier(.6,.3,.11,.86);
  transition: transform .35s cubic-bezier(.6,.3,.11,.86);
}

.edgtf-link-section-holder.edgtf-appear-fx.edgtf-appear .edgtf-link-section-title, .edgtf-link-section-holder.edgtf-appear-fx.edgtf-appear .edgtf-single-link-title, .touch .edgtf-link-section-holder.edgtf-appear-fx .edgtf-link-section-title, .touch .edgtf-link-section-holder.edgtf-appear-fx .edgtf-single-link-title {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.edgtf-link-section-holder .edgtf-single-link-section-holder {
  display: inline-block;
  position: relative;
  margin-top: 18px;
}

.edgtf-link-section-holder .edgtf-single-link-section-holder a {
  display: block;
  position: relative;
  font-family: "Roboto Condensed",sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .08em;
  color: #202020;
}

.edgtf-link-section-holder .edgtf-single-link-section-holder a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #d2d2d2;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: -webkit-transform .15s cubic-bezier(0,0,.08,.96);
  -moz-transition: -moz-transform .15s cubic-bezier(0,0,.08,.96);
  transition: transform .15s cubic-bezier(0,0,.08,.96);
}

.edgtf-link-section-holder .edgtf-single-link-section-holder a .edgtf-single-link-title-holder {
  margin: 0 90px 0 24px;
  -webkit-transition: -webkit-transform .15s cubic-bezier(.6,.3,.11,.86);
  -moz-transition: -moz-transform .15s cubic-bezier(.6,.3,.11,.86);
  transition: transform .15s cubic-bezier(.6,.3,.11,.86);
}

.no-touch .edgtf-link-section-holder.edgtf-appear-fx .edgtf-single-link-section-holder:nth-child(2) .edgtf-single-link-title {
  -webkit-transition: -webkit-transform .35s cubic-bezier(.6,.3,.11,.86) .2s;
  -moz-transition: -moz-transform .35s cubic-bezier(.6,.3,.11,.86) .2s;
  transition: transform .35s cubic-bezier(.6,.3,.11,.86) .2s;
}

.edgtf-link-section-holder .edgtf-single-link-section-holder a:hover:before {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  transform: rotate(40deg);
}

.edgtf-link-section-holder .edgtf-single-link-section-holder a .edgtf-single-link-title-holder .edgtf-single-link-title {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

.edgtf-link-section-holder .edgtf-single-link-section-holder a:hover .edgtf-single-link-title-holder {
  -webkit-transform: translate3d(10px,0,0);
  -moz-transform: translate3d(10px,0,0);
  transform: translate3d(10px,0,0);
}


.section--post {
  padding-top: 35px !important;
  padding-right: 45px !important;
  padding-left: 45px !important;
}

.section--post [class*='col-'] {
  padding: 0px 5px;
  margin-bottom: 30px;
}

.section--post .content__small-text {
  padding-bottom: 0px !important;
}

.edgtf-side-menu-button-opener {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  text-align: center;
  width: 36px;
}

.edgtf-side-menu-button-opener .edgtf-line {
  display: block;
  height: 2px;
  background-color: currentColor;
  margin: 2px 0 3px auto;
  -webkit-transition: width .2s ease-out,opacity .2s ease;
  -moz-transition: width .2s ease-out,opacity .2s ease;
  transition: width .2s ease-out,opacity .2s ease;
}

.edgtf-side-menu-button-opener .edgtf-line:nth-child(1), .edgtf-side-menu-button-opener .edgtf-line:nth-child(3) {
  width: 25px;
  margin-top: 0;
}

.edgtf-side-menu-button-opener .edgtf-line:nth-child(2) {
  width: 36px;
}

.edgtf-side-menu-button-opener .edgtf-line:nth-child(3) {
  margin-bottom: 0;
}

.edgtf-side-menu-button-opener.opened, .edgtf-side-menu-button-opener:hover {
  color: #fff;
}

.edgtf-side-menu-button-opener.opened .edgtf-line, .edgtf-side-menu-button-opener:hover .edgtf-line {
  width: 30px;
}

.edgtf-side-menu {
  position: fixed;
  top: 0;
  right: -405px;
  width: 405px;
  height: 100%;
  min-height: 100%;
  padding: 66px 50px 36px;
  background-color: #000;
  text-align: center;
  overflow: hidden;
  visibility: hidden;
  z-index: 999999;
  box-sizing: border-box;
  box-shadow: -3px 0 3px rgba(0,0,0,.04);
  -webkit-transition: all .6s cubic-bezier(.77,0,.175,1);
  -moz-transition: all .6s cubic-bezier(.77,0,.175,1);
  transition: all .6s cubic-bezier(.77,0,.175,1);
}

body.edgtf-right-side-menu-opened .edgtf-side-menu {
  right: 0;
  visibility: visible;
}

.edgtf-side-menu .edgtf-close-side-menu-holder {
  position: absolute;
  top: 45px;
  right: 75px;
  z-index: 1000;
}

.edgtf-side-menu a.edgtf-close-side-menu {
  display: block;
  color: #fff;
  font-size: 40px;
  z-index: 1000;
}

.edgtf-side-menu a.edgtf-close-side-menu span, .edgtf-side-menu a.edgtf-close-side-menu span:before {
  display: block;
  line-height: inherit;
}

.edgtf-side-menu a.edgtf-close-side-menu span, .edgtf-side-menu a.edgtf-close-side-menu span:before {
  display: block;
  line-height: inherit;
}

.icon_close:before {
  content: "\4d";
}

.edgtf-page-footer .widget, .edgtf-side-menu .widget {
  color: #fff;
}

.edgtf-separator-holder.edgtf-separator-center {
  text-align: center;
}

.edgtf-separator-holder {
  position: relative;
  height: auto;
  font-size: 0;
  line-height: 1em;
}

.edgtf-side-menu .widget {
  margin: 0 0 30px;
  padding: 0;
}

.widget.widget_rss ul li .rss-date, .widget.widget_text img {
  display: block;
}

.edgtf-side-menu .widget img {
  margin: 0 auto;
  object-fit: cover;
}


.edgtf-page-footer .widget:last-child, .edgtf-side-menu .widget:last-child {
  margin: 0!important;
}

.edgtf-icon-list-holder {
  position: relative;
  display: table;
  table-layout: fixed;
  height: auto;
  width: 100%;
  margin-bottom: 8px;
}

.edgtf-icon-list-holder.edgtf-icon-list-inline-display {
  display: inline-block;
  width: auto;
}

.edgtf-icon-list-holder.edgtf-icon-list-inline-display:not(:last-child) {
  margin-right: 40px;
}

.edgtf-side-menu .edgtf-icon-list-holder.edgtf-icon-list-inline-display:not(:last-child) {
  margin-right: 0;
}

.edgtf-icon-list-holder .edgtf-il-icon-holder, .edgtf-icon-list-holder .edgtf-il-text {
  position: relative;
  display: table-cell;
  vertical-align: top;
}

.edgtf-icon-list-holder .edgtf-il-icon-holder {
  width: 1%;
}

.edgtf-icon-list-holder.edgtf-icon-list-inline-display .edgtf-il-icon-holder, .edgtf-icon-list-holder.edgtf-icon-list-inline-display .edgtf-il-text {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.edgtf-icon-list-holder .edgtf-il-icon-holder>* {
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 21px;
  line-height: inherit;
}

.edgtf-icon-list-holder .edgtf-il-text {
  width: 99%;
  padding: 0 0 0 30px;
  box-sizing: border-box;
  font-family: "Roboto Condensed",sans-serif;
  font-style: italic;
}

.edgtf-icon-list-holder.edgtf-icon-list-inline-display {
  display: inline-block;
  width: auto;
}


@media screen and (max-width: 480px) {
  .vc_custom_1673232508727 {
    padding-left: 30px !important;
  }

  .section--post {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }
}

.l-header__container-wrapper {
    padding: 90px 0px;
    margin-bottom: 30px;
    background: url("../img/shop-title-pattern.png") no-repeat;
}